BasedOnStyle: Microsoft
IndentWidth: 4

Language: Cpp
UseTab: Always
ColumnLimit: 140
AccessModifierOffset: -2
AlignConsecutiveMacros: true
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Inline
