BasedOnStyle: Microsoft
IndentWidth: 4

Language: Cpp
UseTab: Never
ColumnLimit: 140
AccessModifierOffset: -2
AlignConsecutiveMacros: true
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
#LineEnding: LF
UseCRLF: False
SortIncludes: Never